[submodule "extern/ILI9341-STM32-HAL"]
	path = extern/ILI9341-STM32-HAL
	url = https://github.com/ardnew/ILI9341-STM32-HAL.git
[submodule "extern/freertos-addons"]
	path = extern/freertos-addons
	url = https://github.com/lukasnee/freertos-addons.git
[submodule "extern/fonas"]
	path = extern/fonas
	url = https://github.com/lukasnee/fonas
[submodule "extern/CherryUSB"]
	path = extern/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB.git
