[submodule "extern/ILI9341-STM32-HAL"]
	path = extern/ILI9341-STM32-HAL
	url = https://github.com/lukasnee/ILI9341-STM32-HAL.git
[submodule "extern/ucprof"]
	path = extern/ucprof
	url = https://github.com/lukasnee/ucprof.git
[submodule "extern/STM32H7-DevEBox"]
	path = extern/STM32H7-DevEBox
	url = https://github.com/lukasnee/STM32H7-DevEBox.git
[submodule "extern/ln"]
	path = extern/ln
	url = https://github.com/lukasnee/ln.git
