[submodule "extern/ILI9341-STM32-HAL"]
	path = extern/ILI9341-STM32-HAL
	url = https://github.com/lukasnee/ILI9341-STM32-HAL.git
[submodule "extern/ucprof"]
	path = extern/ucprof
	url = https://github.com/lukasnee/ucprof.git
[submodule "extern/W25Q64_STM32H750VB-DevEBox"]
	path = extern/W25Q64_STM32H750VB-DevEBox
	url = https://github.com/lukasnee/W25Q64_STM32H750VB-DevEBox.git
[submodule "extern/ln"]
	path = extern/ln
	url = https://github.com/lukasnee/ln.git
